.grid{
    width: 400px;
    height: 600px;
    background-color: yellow;
    position: relative;

    font-size: 200px;
    text-align: center;
    margin: 0 auto;
}

.player{
    width: 60px;
    height: 85px;
    background-color: red;
    position: absolute;
}

.platform{
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
}

.anvil{
    width: 60px;
    height: 60px;
    background-color: blue;
    position: absolute;
}

.arrow {
    border: solid red;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
    position: absolute;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }